# Core functionality - changes here should be rare!
/src/app.py                   @7ankalis
/src/backend/database.py      @7ankalis
/src/backend/routers/auth.py  @7ankalis

# The frontend will need refactored soon to be more object oriented.
/src/static/   @7ankalis
